*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    background-color: grey;
    font-family: Arial, sans-serif;

}
.centralizar{
    position: relative;
    text-align: center;
}
h1{
    position: absolute;
    top: 35%; 
    left: 45%; 
    color: aliceblue;
}
.Start{
    position: absolute;
    top: 36%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 50px;
    width: 120px;
    background-color: blue;
    border-radius: 5px;
    border: none;
}
.Exit{
    position: absolute;
    top: 42%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 45px;
    width: 100px;
    background-color: red;
    border: none;
}
a{
    color: white;
    text-decoration: none;
    display: block;
}
.imagem{
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;

}
.abrir{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dialog-content {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}