*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
}
.centralizar{
    position: relative;
    text-align: center;
}
h1{
    position: absolute;
    top: 35%; 
    left: 46%; 
    color: aliceblue;
}
button{
    position: absolute;
    top: 36%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 50px;
    width: 70px;
    background-color: blue;
    border: none;
}
a{
    color: white;
    text-decoration: none;
    display: block;
}
.imagem{
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;

}